<section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>

{% if addressObj %}
      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>{{addressObj.location}}</p>
              </div>

              <div class="open-hours">
                <i class="icofont-clock-time icofont-rotate-90"></i>
                <h4>Open Hours:</h4>
                <p>
                  {{addressObj.begin_day}}-{{addressObj.end_day}}:<br>
                  {{addressObj.begin_time}} - {{addressObj.end_time}}
                </p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>{{addressObj.email}}</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>{{addressObj.phone_number}}</p>
              </div>

            </div>

            <div>

          </div>

          </div>
          {% endif %}

          <div class="col-lg-8 mt-5 mt-lg-0">

            {% if user.is_superuser %}
            <div class="col-md-12 text-right">
                <a href="{% url 'contact:list' %}">Contact Messages</a>
            </div>
            {% endif %}

            <div>
              {% if contact_msg %}
              <span class="text-success h4">{{ contact_msg }}</span>
                  <br><br>
              {% endif %}
             </div>

            <a name="contact"></a>
            <form action="{% url 'contact:index' %}" method="post" role="form" class="contactForm">

              {% csrf_token %}

              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="8" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>

            </form>

          </div>

        </div>

      </div>
      <br>
      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1946.726266607278!2d10.690885815808368!3d60.79580718219577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4641db7546bd274f%3A0xbac0733cf7e641f!2s37%20Eatery!5e0!3m2!1sen!2sno!4v1596354133983!5m2!1sen!2sno"  frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

      </div>


    </section>