<section id="events" class="events"
             {% for ebg in event_bg_obj %} style='background-image: url("{{ebg.event_bg.url}}");' {% endfor %} >
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Events</h2>
          <p>Organize Your Events in our Restaurant</p>
        </div>

        <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="100">
          {% for myevent in customer_event_obj %}

          <div class="row event-item">

            <div class="col-lg-6">
              <img src="{{ myevent.event_img.url }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>{{ myevent.event_type }}</h3>
              <div class="price">
                <p><span>NKR {{ myevent.price }}</span></p>
              </div>
              <p class="font-italic">
                {{ myevent.event_desc }}
              </p>
              <ul>

                {% for mypackage in myevent.package.all %}


                <li><i class="icofont-check-circled"></i> {{ mypackage.name }}.</li>
<!--              <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
                {% endfor %}
              </ul>
              <p>
                {{ myevent.tagline }}
              </p>
            </div>

          </div>

<!--          <div class="row event-item">-->
<!--            <div class="col-lg-6">-->
<!--              <img src="{%static 'assets/img/event-private.jpg' %}" class="img-fluid" alt="">-->
<!--            </div>-->
<!--            <div class="col-lg-6 pt-4 pt-lg-0 content">-->
<!--              <h3>Private Parties</h3>-->
<!--              <div class="price">-->
<!--                <p><span>NKR 290</span></p>-->
<!--              </div>-->
<!--              <p class="font-italic">-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
<!--                magna aliqua.-->
<!--              </p>-->
<!--              <ul>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
<!--              </ul>-->
<!--              <p>-->
<!--                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--                velit esse cillum dolore eu fugiat nulla pariatur-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row event-item">-->
<!--            <div class="col-lg-6">-->
<!--              <img src="{%static 'assets/img/event-custom.jpg' %}" class="img-fluid" alt="">-->
<!--            </div>-->
<!--            <div class="col-lg-6 pt-4 pt-lg-0 content">-->
<!--              <h3>Custom Parties</h3>-->
<!--              <div class="price">-->
<!--                <p><span>NKR 99</span></p>-->
<!--              </div>-->
<!--              <p class="font-italic">-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
<!--                magna aliqua.-->
<!--              </p>-->
<!--              <ul>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>-->
<!--                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>-->
<!--              </ul>-->
<!--              <p>-->
<!--                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--                velit esse cillum dolore eu fugiat nulla pariatur-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

          {% endfor %}

        </div>

      </div>
    </section>