<section id="menu" class="menu section-bg">
    {% load static %}
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starters">Starters</li>
              <li data-filter=".filter-salads">Salads</li>
              <li data-filter=".filter-specialty">Specialty</li>
              <li data-filter=".filter-dinner">Dinner</li>
              <li data-filter=".filter-drink">Drink</li>
               <li data-filter=".filter-lunsj">Lunch</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-6 menu-item filter-salads">
            <img src="{%static 'assets/img/menu/caesar.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Caesar Selections</a><span>NKR 8.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{%static 'assets/img/menu/tuscan-grilled.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Tuscan Grilled</a><span>NKR 9.95</span>
            </div>
            <div class="menu-ingredients">
              Grilled chicken with provolone, artichoke hearts, and roasted red pesto
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{%static 'assets/img/menu/mozzarella.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Mozzarella Stick</a><span>NKR 4.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="{% static 'assets/img/menu/greek-salad.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Greek Salad</a><span>NKR 9.95</span>
            </div>
            <div class="menu-ingredients">
              Fresh spinach, crisp romaine, tomatoes, and Greek olives
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="{% static 'assets/img/menu/spinach-salad.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Spinach Salad</a><span>NKR 9.95</span>
            </div>
            <div class="menu-ingredients">
              Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{%static 'assets/img/menu/bread-barrel.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Bread Barrel</a><span>NKR 6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{%static 'assets/img/menu/cake.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Crab Cake</a><span>NKR 7.95</span>
            </div>
            <div class="menu-ingredients">
              A delicate crab cake served on a toasted roll with lettuce and tartar sauce
            </div>
          </div>

          {% for obj_dinner in menuObj_Dinner %}
            <div class="col-lg-6 menu-item filter-dinner">
              <img src="{{ obj_dinner.menuImage.url }}" class="menu-img" alt="">
              <div class="menu-content">
                  <a href="#">{{obj_dinner.menu_name}}</a><span>NKR {{obj_dinner.price}}</span>
            </div>
            <div class="menu-ingredients">
              {{obj_dinner.menu_desc}}
            </div>

          </div>
          {% endfor %}

          {% for obj_lunsj in menuObj_Lunsj %}
          <div class="col-lg-6 menu-item filter-lunsj">

            <img src="{{ obj_lunsj.menuImage.url }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">{{obj_lunsj.menu_name}}</a><span>NKR {{obj_lunsj.price}}</span>

            </div>

          </div>
          {% endfor %}

          {% for obj_drink in menuObj_drinks %}
            <div class="col-lg-6 menu-item filter-drink">
              <img src="{{ obj_drink.menuImage.url }}" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">{{obj_drink.menu_name}}</a><span>NKR {{obj_drink.price}}</span>

              </div>
              <div class="menu-ingredients">
                {{obj_drink.menu_desc}}
              </div>

            </div>
          {% endfor %}

<!--          {% for obj_dinner in menuObj_Dinner %}-->
<!--            <div class="col-lg-6 menu-item filter-dinner">-->
<!--              <img src="{{ obj_dinner.menuImage.url }}" class="menu-img" alt="">-->
<!--              <div class="menu-content">-->
<!--                  <a href="#">{{obj_dinner.menu_name}}</a><span>NKR {{obj_dinner.price}}</span>-->
<!--            </div>-->
<!--            <div class="menu-ingredients">-->
<!--              {{obj_dinner.menu_desc}}-->
<!--            </div>-->

<!--          </div>-->
<!--          {% endfor %}-->



        </div>


      </div>
</section>

<!--<section id="drink_menu" class="menu section-bg">-->
<!--    {% load static %}-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-title">-->
<!--          <h2>Drink Menu</h2>-->
<!--          <p>Check Our Drinks</p>-->
<!--        </div>-->

<!--        <div class="row" data-aos="fade-up" data-aos-delay="100">-->
<!--          <div class="col-lg-12 d-flex justify-content-center">-->
<!--            <ul id="drink-menu-flters">-->
<!--              <li data-filter="*" class="filter-active">All</li>-->
<!--              <li data-filter=".drink-filter-starters">Starters</li>-->
<!--              <li data-filter=".drink-filter-salads">Salads</li>-->
<!--              <li data-filter=".drink-filter-specialty">Specialty</li>-->
<!--              <li data-filter=".drink-filter-dinner">Dinner</li>-->
<!--              <li data-filter=".drink-filter-drink">Drink</li>-->
<!--              <li data-filter=".drink-filter-lunch">Lunch</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">-->
<!--        {% for obj_lunsj in menuObj_Lunsj %}-->
<!--          <div class="col-lg-6 menu-item drink-filter-lunch">-->

<!--            <img src="{{ obj_lunsj.menuImage.url }}" class="menu-img" alt="">-->
<!--            <div class="menu-content">-->
<!--              <a href="#">{{obj_lunsj.menu_name}}</a><span>NKR {{obj_lunsj.price}}</span>-->

<!--            </div>-->

<!--          </div>-->
<!--          {% endfor %}-->
<!--        </div>-->

<!--      </div>-->
<!--</section>-->