<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>37 EATERY</h3>
              <p>
                Kauffeldts Plass 3, Gjovik 2815  <br>
                Norway<br><br>

                {% if addressObj %}
                <strong>Phone:</strong> {{phone_number}}<br>
                <strong>Email:</strong> {{email}}<br>
                {% endif %}
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li> <i class="bx bx-chevron-right"></i><a href="{% url 'home:index' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i><a href="#menu">Menu</a></li>
              <li><i class="bx bx-chevron-right"></i><a href="#specials">Specials</a></li>
              <li><i class="bx bx-chevron-right"></i><a href="#events">Events</a></li>
              <li><i class="bx bx-chevron-right"></i><a href="#gallery">Gallery</a></li>
              <li><i class="bx bx-chevron-right"></i><a href="#about">About</a></li>
              <li><i class="bx bx-chevron-right"></i><a href="#contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              {% csrf_token %}
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>37 EATERY</span></strong>. All Rights Reserved
        <br>
        <i><a href="#">Privacy</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Terms of Use</a></i>
      </div>
      <div class="credits">
         Designed by <a href="#">Hepeps Solution Ltd</a>
      </div>
    </div>
  </footer>