{% extends 'base.html' %}


{% block content %}
    <div>
    <div class="offset-2 col-md-8">
        <a href="{% url 'home:index' %}#book_table">Book Table</a>
        <h2>Contact Messages Received</h2>
             <div class="container bg-light">

                <table class="table table-striped table-bordered">
                    <tr>
                        <td>
                            Sender
                        </td>
                        <td>
                            phone
                        </td>
                        <td>
                            Email
                        </td>
                         <td>
                            Book Date
                        </td>
                         <td>
                            Book Time
                        </td>

                        <td>
                            Message
                        </td>
                        <td>
                            Number of persons
                        </td>
                        <td>
                            Status
                        </td>
                        <td></td>
                    </tr>
                    {% for item in result_list %}
                        <tr>
                            <td>
                                {{ item }}
                            </td>
                            <td>
                                {{ item.your_phone }}
                            </td>
                            <td>
                                {{ item.msgemail }}
                            </td>
                            <td>
                                {{ item.book_date }}
                            </td>
                            <td>
                                {{ item.book_time }}
                            </td>

                            <td>
                                {{ item.msg }}
                            </td>
                            <td>
                                {{ item.persons_number }}
                            </td>
                            <td>
                                <a href="{% url 'contact:respond' item.id %}">Respond</a>
                            </td>
                        </tr>
                {% endfor %}
            </table>
             </div>

    </div>

</div>
{% endblock %}