<!DOCTYPE html>

{% load static %}


<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>37 EATERY</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

<!--  <link href="{% static 'datatable/datatables.min.css' %}">-->
<!--  <link href="{% static 'assets/css/style_background_image.css' %}" rel="stylesheet">-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sl-1.3.1/datatables.min.css"/>

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-phone"></i> +47 932 86 021
        <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Mon-Sat: 11:00 AM - 23:00 PM</span>
      </div>
      <div class="languages">
        <ul>
          <li>{% load google_translate %}{% google_translate type='horizontal' language='en' %}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">37 EATERY</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'home:index' %}">Home</a></li>
          <li><a href="/#menu">Menu</a></li>
          <li><a href="/#specials">Specials</a></li>
          <li><a href="/#events">Events</a></li>
          <li><a href="/#gallery">Gallery</a></li>
          {% if user.is_superuser %}
            <li>
              <a class="btn dropdown-toggle text-left" data-toggle="dropdown" href="#">
                Responses
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu bg-dark">
                <li>
                  <a href="{% url 'contact:list' %}">Contact Us Messages</a>
                </li>
                <li>
                  <a href="{% url 'booking:list' %}">Booking Messages</a>
                </li>
              </ul>
            </li>


            <li>
              <a class="btn dropdown-toggle text-left" data-toggle="dropdown" href="#">
                Reports
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu bg-dark">
                <li>
                  <a href="{% url 'report:booking' %}">Bookings List</a>
                </li>
                <li>
                  <a href="{% url 'report:inquiry' %}">Inquiries List</a>
                </li>
                <li>
                  <a href="{% url 'report:event' %}">Events List</a>
                </li>
              </ul>
            </li>

          {% endif %}
          <li><a href="/#about">About</a></li>
          <li><a href="/#contact">Contact</a></li>
          <li class="book-a-table text-center"><a href="/#book-a-table">Book a table</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
    {% for mybg in background_images %}
<!-- <section id="hero" class="d-flex align-items-center" style="background-image: url('{% static 'assets/img/restaurant.gif' %}');">-->
<section id="hero" class="d-flex align-items-center" style="background-image: url('{% static 'assets/img/restaurant.gif' %}');">

<!--  <section id="hero" class="d-flex align-items-center" style="background-image: url({{'background_images.url'}});">-->

    <!--<img src="{% static 'assets/img/restaurant.gif' %}" class="background-image" class="d-flex align-items-center">-->
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100" >
      <div class="row">
        <div class="col-lg-8">


          <h1>Welcome to  <span>{{ mybg.restaurant_name }}</span></h1>

          <h2>{{ mybg.tagline }} !</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          </div>
        </div>
<!--        <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">-->
<!--          <a href="https://www.youtube.com/watch?v=IcGKLdFj804" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>-->
<!--        </div>-->

      </div>
    </div>

  </section><!-- End Hero -->
    {% endfor %}


  <br><br><br><br><br><br>
    {% block content %}

    {% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>37 EATERY</h3>
              <p>
                Kauffeldts Plass 3, Gjovik 2815  <br>
                Norway<br><br>

                {% if addressObj %}
                <strong>Phone:</strong> {{phone_number}}<br>
                <strong>Email:</strong> {{email}}<br>
                {% endif %}
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              {% csrf_token %}
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>37 EATERY</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
         Designed by <a href="#">Hepeps Solution Ltd</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script src="{% static 'datatable/datatables.min.js' %}"></script>
  {% block js %}

  {% endblock %}

</body>

</html>