{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="offset-2 col-md-8 col-sm-12">
            {% if error %}
                <span class="text-danger">{{error}}</span>
            {% endif %}
            {% if contact_message %}
                <span class="text-warning h4">Responding To:
                <strong>{{ contact_message }}</strong>
                </span>
                <br>
                <span>
                    <span class="text-warning h5">Message: {{ contact_message.message }}</span>
<br>
                </span>

            {% endif %}

            <form action="{% url 'contact:respond' mid %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="row table-responsive  bg-light">
                    <input type="hidden" id="pk" value="{{ mid }}">
                    <br>
                    <table class="table">
                        {{ form.as_table }}
                    </table>

                    <div class="offset-4 col-md-6">
                        <button type="submit" class="btn btn-dark btn-block">Response</button>
                        <br>
                    </div>

                </div>
            </form>
        </div>
        <br><br>
    </div>
{% endblock %}
